.wrapper {
  ul {
    display: grid;
    @media (min-width: 500px){
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 1050px){
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    gap: clamp(12px, calc(24vw/7.68), 32px);
    li {
      list-style-type: none;
      padding: clamp(16px, calc(20vw/7.68), 20px);
      border-left: 2px solid var(--secondary-500);
      background: linear-gradient(135deg, var(--primary-900), var(--primary-700));
      text-align: center;
      p:first-child {
        margin-bottom: 12px;
        color: var(--primary-200);
      }
    }
  }

  position: relative;
  .chip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: translate(10%, 80%);
    @media (max-width: 999px){
      transform: translate(10%, 62%);
    }
    svg {
      width: clamp(198px, calc(314vw/7.68), 420px);
      height: auto;
      &:last-child {
        position: absolute;
        top: 0;
        animation: glow 5s infinite;
      }
    }
    @keyframes glow {
      0%, 25%, 50%, 75%, 100% {
        opacity: 1;
      }
      20%, 40%, 60%, 80% {
        opacity: .62;
      }
    }
    margin-right: calc(var(--pageMargin) * -1);
    @media (min-width: 1280px){
      margin-right: calc((100vw - 1200px) / -2);
    }
  }
}