.wrapper {
  header {
    display: grid;
    gap: clamp(16px, calc(24vw/7.68), 24px) 32px;
    @media (min-width: 900px){
      grid-template-columns: 1fr 1fr;
    }
    .paragraph {
      & > *:not(:last-child){
        margin-bottom: 8px;
      }
    }
    margin-bottom: clamp(32px, calc(48vw/7.68), 80px);
  }
  > ol {
    counter-reset: counter;
    display: grid;
    gap: clamp(20px, calc(32vw/7.68), 32px);
    > li {
      position: sticky;
      top: 0;
      &:not(:last-child){
        &::after {
          content: '';
          position: absolute;
          top: calc(100% + 1px);
          left: -1px;
          width: calc(100% + 2px);
          height: clamp(20px, calc(32vw/7.68), 32px);
          background-color: var(--primary-900);
        }
      }
      list-style-type: none;
      border: 1px solid var(--primary-800, #13182A);
      background: linear-gradient(-90deg, #1B2138, #0D111F 50%);
      padding: 24px clamp(16px, calc(28vw/7.68), 28px);
      display: grid;
      align-items: flex-start;
      gap: clamp(20px, calc(32vw/7.68), 32px);
      @media (min-width: 1000px){
        grid-template-columns: 1fr 1.2fr;
      }
      counter-increment: counter;
      .title {
        font-size: clamp(calc(20rem/16), calc(28vw/7.68), calc(28rem/16));
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: 12px;
        &::before {
          content: counter(counter);
          display: flex;
          align-items: center;
          justify-content: center;
          width: clamp(48px, calc(60vw/7.68), 60px);
          height: clamp(48px, calc(60vw/7.68), 60px);
          background-color: var(--primary-800);
          border-radius: 50%;
          color: var(--secondary-500);
          text-shadow: 0px 0px 24px #1DA4FD, 0px 0px 10px #98D6FF;
        }
      }
      > ol {
        display: grid;
        gap: 8px;
        > li {
          list-style-type: none;
          display: grid;
          grid-template-columns: auto 1fr;
          gap: 8px;
          align-items: flex-start;
          .counter {
            width: 82px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-left: 2px solid var(--secondary-500);
            margin-left: -2px;
            background-color: var(--primary-700);
            font-size: clamp(calc(14rem/16), calc(16vw/7.68), calc(16rem/16));
          }
        }
      }
      .borderLeft, .borderRight {
        position: absolute;
        top: 0;
        height: 100%;
        width: auto;
      }
      .borderLeft {
        left: 0;
      }
      .borderRight {
        right: 0;
      }
    }
  }
  .showMore {
    width: fit-content;
    margin: clamp(32px, calc(48vw/7.68), 80px) auto 0;
    .progress {
      display: flex;
      gap: 16px;
      margin-bottom: clamp(20px, calc(28vw/7.68), 28px);
      > div {
        width: 12px;
        height: 12px;
        background: var(--primary-700);
        &:first-child {
          background: linear-gradient(90deg, #53BAFD, rgba(83, 186, 253, 0.00));
        }
      }
    }
  }
}