.wrapper {
  position: sticky;
  top: clamp(28px, calc(36vw/7.68), 42px);
  z-index: 9;
  pointer-events: none;
  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }
  .logo {
    pointer-events: auto;
    display: block;
    @media (min-width: 600px){
      backdrop-filter: blur(4px);
      padding: 5px;
      margin: -5px;
    }
    @media (max-width: 599px){
      width: 84px;
      .logotype {
        display: none;
      }
    }
  }
  .cta {
    pointer-events: auto;
  }
}
.skipToMainContent {
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  left: 21px;
  top: 21px;
  overflow: hidden;
  padding: 8px 21px;
  background-color: var(--primary-900);
  border: 1px solid var(--secondary-900);
  &:focus-visible {
    opacity: 1;
    pointer-events: auto;
  }
}