.HeroImageBackground {
  header {
    max-width: calc(908rem / 16);
    margin: 0 auto;
    text-align: center;
    h1 {
      margin-bottom: 24px;
    }
    .paragraph {
      & > *:not(:last-child) {
        margin-bottom: 12px;
      }
      margin-bottom: 48px;
    }
  }
  position: relative;
  .img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    max-width: 520px;
  }
}
