.SimpleCtaSection {
  header {
    max-width: calc(586rem / 16);
    margin: 0 auto;
  }
  text-align: center;
  .cta {
    margin: 24px auto 0;
  }
  .additionalInfo {
    margin-top: 12px;
    font-size: var(--small-font-size);
  }
  .countdown {
    margin: clamp(24px, calc(36vw / 7.68), 48px) auto 0;
  }
}
