.wrapper {
  display: grid;
  @media (min-width: 950px){
    grid-template-columns: 1.75fr 1fr;
  }
  gap: clamp(24px, calc(28vw/7.68), 34px) clamp(84px, calc(92vw/7.68), 134px);
  align-items: center;
  header {
    h2 {
      margin-bottom: clamp(16px, calc(24vw/7.68), 28px);
    }
    .paragraph {
      max-width: calc(586rem/16);
    }
  }
  .img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 949px){
      max-width: 300px;
    }
    padding: 5%;
    margin: auto;
    .border, .gear {
      pointer-events: none;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
    }
    .gear {
      width: calc(100% - 32px);
      height: calc(100% - 32px);
      animation: gear 25s linear infinite;
      @keyframes gear {
        100% {
          transform: translate(-50%, -50%) rotate(360deg);
        }
      }
    }
  }
}