.wrapper {
  header {
    max-width: calc(689rem/16);
    margin-bottom: clamp(28px, calc(36vw/7.68), 64px);
  }
  ul {
    display: grid;
    @media (min-width: 800px){
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 1050px){
      grid-template-columns: 1fr 1fr 1fr;
    }
    gap: clamp(12px, calc(24vw/7.68), 32px);
    li {
      list-style-type: none;
      padding: clamp(32px, calc(32vw/7.68), 48px) clamp(16px, calc(20vw/7.68), 20px) clamp(28px, calc(32vw/7.68), 32px);
      background-color: rgba(19, 24, 42, 0.80);
      clip-path: polygon(100% 0, 100% calc(100% - 34px), calc(100% - 34px) 100%, 0 100%, 0 0);
      .icon {
        width: clamp(48px, calc(64vw/7.68), 80px);
        height: clamp(48px, calc(64vw/7.68), 80px);
        margin-bottom: clamp(12px, calc(16vw/7.68), 28px);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--primary-700);
        border-radius: 50%;
        img {
          width: 42%;
          height: 42%;
          transform: translate3d(0, 0, 0);
          filter: drop-shadow(0px 0px 30px rgba(29, 164, 253, 0.60)) drop-shadow(0px 0px 12px rgba(152, 214, 255, 0.60));
        }
      }
      overflow: hidden;
      position: relative;
      .decoration {
        position: absolute;
        right: -6px;
        top: -6px;
      }
    }
  }
}