.CtaSection {
  max-width: calc(586rem/16);
  margin: 0 auto;
  text-align: center;
  h2 {
    font-size: clamp(calc(20rem/16), calc(28vw/7.68), calc(28rem/16));
  }
  .cta {
    margin: clamp(16px, calc(24vw/7.68), 24px) 0 12px;
  }
  .countdown {
    > div {
      margin: clamp(24px, calc(36vw/7.68), 48px) auto 0;
    }
  }
}